@import "variables";
@import "mixins";
@import "grid";

html, body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  color: @text-color;
}

body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}

// a
a,
a:link,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: @text-color;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: @primary-color;
  cursor: pointer;
}

// input
input {
  //appearance: none;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  font-size: 14px;
  padding: 5px;
  border: @border-style;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:focus {
    border: 1px solid @secondary-color;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px @secondary-color;
  }
}

textarea {
  padding: 5px;
  border: @border-style;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  &:focus {
    border: 1px solid @secondary-color;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px @secondary-color;
  }
}

select {
  padding: 2px;
  border: @border-style;
  background-color: #fff;
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 6px @box-shadow-color;
  }
  &:focus {
    border: 1px solid @secondary-color;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 4px @secondary-color;
  }
}
// button
button {
  outline: none;
}

.btn {
  height: 28px;
  line-height: 24px;
  padding: 2px 10px;
  border: none;
  border-radius: 4px;
  &:focus, &:active:focus, &.active:focus,
  &:hover, &:active, &:focus {
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .26);
  }
  &.btn-default {
    color: @text-color-light;
    background-color: @secondary-color;
    &:hover, &:active, &:focus {
    }
  }
  &.btn-error {
    color: @text-color-light;
    background-color: #b33630;
    &:hover, &:active, &:focus {
    }
  }
}

// ul
ul {
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
